<app-form-view title="Nova Campanha" (onSave)="onSave()" [disableButton]="isInvalidForm()" [form]="form">
    <mat-card form>
        <div class="form-container">
            <mat-form-field>
                <input matInput placeholder="Título" [formControl]="getField('title')">
                <mat-error *ngIf="hasError('title','required')">Título é obrigatório
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-container">
            <mat-form-field>
                <input matInput placeholder="Subtítulo" [formControl]="getField('subtitle')">
                <mat-error *ngIf="hasError('subtitle','required')">Subtítulo é obrigatório
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-container">
            <mat-form-field>
                <input matInput [matDatepicker]="startDate" placeholder="Data de início"
                    [formControl]="getField('startDate')" />
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>

                <mat-error *ngIf="hasError('startDate','required')">Data de início é obrigatória
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-container">
            <mat-form-field>
                <input matInput [matDatepicker]="endDate" placeholder="Data de encerramento"
                    [formControl]="getField('endDate')" />
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>

                <mat-error *ngIf="hasError('endDate','required')">Data de encerramento é obrigatória
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-container">
            <app-quill [content]="content" (onTextChange)="onQuillContentChange($event)"></app-quill>
        </div>

    </mat-card>
</app-form-view>