<app-carousel></app-carousel>

<section class="container-fluid pt-3 pb-3 text-justify">
    <div class="col-12 col-lg-10 offset-lg-1">
        <div class="row">
            <h3>Loren Ipsum</h3>
        </div>
        <div class="row">
            <p>
                Lorem ipsum mollis ipsum tortor mattis dictum aliquet orci ut eros euismod interdum, lacus sollicitudin
                posuere
                tellus fringilla eu lacus auctor mollis per class, volutpat etiam placerat potenti molestie ullamcorper
                euismod
                aliquam tincidunt condimentum tellus.
                vulputate dapibus tincidunt quis sollicitudin nam vulputate lacinia, aliquam aenean ultricies auctor
                consectetur
                quam, lorem aenean hac neque mi ullamcorper.
                purus urna ipsum mi fames ipsum varius torquent, erat ornare suspendisse sociosqu euismod in, tellus in
                aliquam
                luctus aliquet vitae.
                luctus inceptos class tincidunt sollicitudin fringilla molestie aliquam aptent, primis consectetur
                mattis
                etiam
                habitant purus feugiat libero nam, semper platea curabitur per venenatis maecenas curabitur.
            </p>
        </div>
    </div>
</section>

<section class="container-fluid pt-3 pb-3 text-right">
    <div class="col-12 col-lg-10 offset-lg-1">
        <div class="row justify-content-end">
            <h3>Loren Ipsum</h3>
        </div>
        <div class="row">
            <p>
                Lorem ipsum mollis ipsum tortor mattis dictum aliquet orci ut eros euismod interdum, lacus sollicitudin
                posuere
                tellus fringilla eu lacus auctor mollis per class, volutpat etiam placerat potenti molestie ullamcorper
                euismod
                aliquam tincidunt condimentum tellus.
                vulputate dapibus tincidunt quis sollicitudin nam vulputate lacinia, aliquam aenean ultricies auctor
                consectetur
                quam, lorem aenean hac neque mi ullamcorper.
                purus urna ipsum mi fames ipsum varius torquent, erat ornare suspendisse sociosqu euismod in, tellus in
                aliquam
                luctus aliquet vitae.
                luctus inceptos class tincidunt sollicitudin fringilla molestie aliquam aptent, primis consectetur
                mattis
                etiam
                habitant purus feugiat libero nam, semper platea curabitur per venenatis maecenas curabitur.
            </p>
        </div>
    </div>
</section>


<section class="container-fluid pt-3 pb-3 text-justify">
    <div class="col-12 col-lg-10 offset-lg-1">
        <div class="row">
            <h3>Loren Ipsum</h3>
        </div>
        <div class="row">
            <p>
                Lorem ipsum mollis ipsum tortor mattis dictum aliquet orci ut eros euismod interdum, lacus sollicitudin
                posuere
                tellus fringilla eu lacus auctor mollis per class, volutpat etiam placerat potenti molestie ullamcorper
                euismod
                aliquam tincidunt condimentum tellus.
                vulputate dapibus tincidunt quis sollicitudin nam vulputate lacinia, aliquam aenean ultricies auctor
                consectetur
                quam, lorem aenean hac neque mi ullamcorper.
                purus urna ipsum mi fames ipsum varius torquent, erat ornare suspendisse sociosqu euismod in, tellus in
                aliquam
                luctus aliquet vitae.
                luctus inceptos class tincidunt sollicitudin fringilla molestie aliquam aptent, primis consectetur
                mattis
                etiam
                habitant purus feugiat libero nam, semper platea curabitur per venenatis maecenas curabitur.
            </p>
        </div>
    </div>
</section>