<footer class="container-fluid ">
    <div class="row">
        <div class="col-12 col-sm-4">
            <div class="p-3 m-3">
                <h1 class="logo">IBM</h1>
            </div>
        </div>
        <div class="col-12 col-sm-8">
            <div class="d-flex justify-content-around">
                <div class="align-middle pt-3 ml-3">
                    <span class="d-block">Endereço: Rua Morubixaba, 75 Ipatinga</span>
                    <span class="d-block">CEP: 35162097</span>
                    <span class="d-block">Telefone (31) 3822-2475</span>
                </div>
                <div class="align-middle pt-3">
                    <h4>Redes Sociais</h4>
                    <div class="d-flex justify-content-center">
                        <a role="button" href="https://www.instagram.com/redeatitudeibm/"
                            class="btn btn-outline-light m-1">
                            <i class="fab fa-instagram"></i>
                        </a>

                        <a role="button" href="https://www.youtube.com/channel/UCHqOqCRdHAUCRqaasfFuLVA"
                            class="btn btn-outline-light m-1">
                            <i class="fab fa-youtube"></i>
                        </a>

                        <a role="button" href="https://www.instagram.com/congressoatitude/"
                            class="btn btn-outline-light m-1">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <hr class="bg-light">
    <div class="row d-flex justify-content-center">
        <small>Copyright &copy; Desenvolvido por <a href="https://lucashenriquedev.com.br">Lucas Henrique</a> 2019</small>
    </div>
</footer>