<mat-card>
    <form class="grid-container" [formGroup]="form" (ngSubmit)="handleOnSave()">
        <mat-card-title>
            {{title}}
        </mat-card-title>

        <mat-card-content>
            <ng-content selector="[form]">

            </ng-content>
        </mat-card-content>

        <mat-card-actions>
            <button type="submit" [disabled]="disableButton" class="ml-3" mat-raised-button color="primary">
                <mat-icon>save</mat-icon>
                Salvar
            </button>
        </mat-card-actions>
    </form>
</mat-card>