<div class="container-fluid">
    <div class="col-12 col-lg-10 offset-lg-1 mt-3 mb-3">

        <app-page-title title="Cultos Ao Vivo"></app-page-title>

        <div class="row">
            <ng-template ngFor let-url [ngForOf]="videos">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card mb-2">
                        <div class="card-header">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315" [src]="url" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>