$first-color: #FAFAFA;
$second-color: #F5F5F5;
$third-color: #EEEEEE;
$fourth-color: #E0E0E0;
$fifth-color: #BDBDBD;
$sixth-color: #9E9E9E;
$seventh-color: #757575;
$eighth-color: #616161;
$nineth-color: #424242;
$tenth-color: #212121;