<div class="container-fluid">
    <div class="col-12 col-lg-10 offset-lg-1 pt-3 pb-3 text-justify">

        <app-page-title title="A Igreja"></app-page-title>

        <h3>Institucional</h3>
        <p>
            A Igreja Batista Missionária surgiu em 21 de agosto de 1986, nas dependências de uma escola, com apenas
            cinco pessoas. Hoje, a igreja já chegou a ter mais de mil membros, três mil pessoas assistidas e influência
            indireta a trabalhos missionários em vários países do mundo. A ênfase de todos os ministérios, trabalhos
            desenvolvidos e atividades são voltados para evangelismo e missões desde à tribos indígenas até centros
            urbanos). Seis igrejas já foram organizadas e implantadas com total autonomia (hoje são independentes).
            Nosso maior objetivo é ensinar à cidade a influência de bons costumes, boa índole e acima de tudo,
            restauração da esperança de um viver futuro, ao lado do Senhor Jesus Cristo.
        </p>
        <p>
            Trabalhamos na estrutura da visão celular no modelo dos doze (G12) e hoje contamos com 450 células e uma
            liderança estável, amadurecida nos princípios de Jesus. A igreja tem desenvolvido o gosto pelo evangelismo
            nos lares, descobrindo que podem fazer ministério, cumprindo o “Ide de Jesus” assim como nos tempos
            primitivos (era apostólica).
        </p>
        <p>
            O Senhor nos têm sustentado para quebrar os paradigmas impostos pelos homens, através da alegria do Senhor,
            que é a nossa força. No passado, a população da cidade via os evangélicos como um povo fechado e preocupado
            apenas em apregoar doutrinas e tradições. Agora, o Senhor trocou nossas vestes. A cidade nos conhece como um
            povo aberto, alegre e sociável, que se relaciona bem com todos e que está sempre preocupado em anunciar o
            amor de Deus.
        </p>
        <h3>Ministérios</h3>
        <p>

            Desde seu início, a Igreja Batista Missionária tem dedicado a servir ao Senhor de formas diferentes em
            diferentes ministérios, atualmente temos os seguintes ministérios:
            Rede Atitude
            Rede Link todo sábado às 19:30 para os jovens servirem ao Senhor
            Ministério Infantil(Rede Kids)
            Rede de casais liderada pelos líderes Washington e Eliane para os casais da igreja servindo em propósito

        </p>
        <h3>Pastores</h3>
        <ul>
            <li>Pr Antonio Carlos Alves Paixão: formado pastor desde 1980 pela ordem dos
                pastores batistas do Brasil.</li>
            <li>Pr Lindaura Vieira Paixão: pastora desde 1980</li>
            <li>Pr Filipe Rosa: pastor formado pela Dallas Baptiste Church nos Estados Unidos
            </li>
            <li>Pr Priscila Paixão Rosa: pastora formada pela Dallas Baptiste Church nos Estados
                Unidos</li>
        </ul>



        <h3>Células</h3>
        <ul>
            <li>Anaor e Zenaide</li>
            <li>Washington e Eliane</li>
            <li>Carlinhos e Célia</li>
            <li>José Carlos e Hosana</li>
            <li>Guilherme e Daniela</li>
            <li>Cleiton e Kellymar</li>
            <li>Ademir e Michele</li>
            <li>Wilbert e Patrícia</li>
            <li>Eder e Iara</li>
        </ul>

        <h3>Cultos e Orações</h3>
        <ul>
            <li>Domingo:
                <ul>
                    <li><span class="font-weight-bold">9:00</span> Escola Bíblica Dominical com foco maior no estudo
                        bíblico para a igreja</li>
                    <li><span class="font-weight-bold">18:00</span> culto à noite preparado para receber visitantes e
                        novos
                        convertidos</li>
                </ul>
            <li>Segunda:
                <ul>
                    <li><span class="font-weight-bold">6:00</span> oração dos homens</li>
                    <li> <span class="font-weight-bold">22:00</span> Torre de Oração</li>
                </ul>
            <li>Terça:
                <ul>
                    <li><span class="font-weight-bold">19:30</span> culto de estudo bíblico</li>
                </ul>
            <li>Sexta:
                <ul>
                    <li><span class="font-weight-bold">06:00</span> Oração das mulheres</li>
                </ul>
            <li>Sábado:
                <ul>
                    <li><span class="font-weight-bold">19:30</span> Culto Link(Rede de Jovens) culto voltado para
                        receber os jovens da igreja e visitantes com
                        um clima
                        mais livre de adoração</li>
                </ul>
        </ul>


    </div>
</div>