$first-color: #E8EAF6;
$second-color: #C5CAE9;
$third-color: #9FA8DA;
$fourth-color: #7986CB;
$fifth-color: #5C6BC0;
$sixth-color: #3F51B5;
$seventh-color: #3949AB;
$eighth-color: #303F9F;
$nineth-color: #283593;
$tenth-color: #1A237E;