.mat-card-title{
    margin-bottom: 1em !important;
}

.mat-card-actions{
    margin-bottom: 1.5em !important;
}

.toolbar-column{
    text-align: right !important;
}

.grid-container {
  padding: 20px;
}

.list-view-card{
    background-color: transparent;
}